// Content Colors
$deep-blue: #04c;
$sea-green: #008fb3;

$imgMountainScape: url("../../assets/landscape.jpg");
$colTitle: $deep-blue;
$colHover: $sea-green;
$shapeRounded: 40px;
$sizeFont: 20px;
$shapePadding: 20px;
