@import "_variables.scss";

body {
  background-image: $imgMountainScape;
}

// "Ready for Adventure?"
.titleCard {
  margin-top: 300px;
  margin-left: 285px;
  color: $colTitle;
}

// Start!
.startBtn {
  margin-left: 445px;
  background-color: $colTitle;
  color: white;
  border-radius: $shapeRounded;
  border: none;
  font-size: $sizeFont;
  padding-left: 10px;
  padding-right: 10px;
}

// Hovering Start!
.startBtn:hover {
  margin-top: -1.5px;
  color: white;
}

// Focusing Start!
.startBtn:focus {
  outline: 0;
}

// I might use this later, so I don't want to delete it. I wanted to make a "storybook" that would track the users choices.

/*
.storyBook {
  border: 3px;
  border-radius: $shapeRounded;
  border-style: solid;
  border-color: lighten($colTitle, 30%);
  margin-left: 900px;
  margin-top: -350px;
  height: 350px;
  width: 400px;
  padding-left: 20px;
}

.storyBook p {
  color: lighten($colTitle, 40%);
  font-size: $sizeFont;
}

.storyBookTitle {
  color: lighten($colTitle, 40%);
  text-align: center;
}
*/
