@import "_variables.scss";

body {
  background-image: $imgMountainScape;
}

// "Ready for Adventure?"
.titleCard {
  margin-top: 300px;
  margin-left: 285px;
  color: $colTitle;
}

// Start!
.startBtn {
  margin-left: 445px;
  background-color: $colTitle;
  color: white;
  border-radius: $shapeRounded;
  border: none;
  font-size: $sizeFont;
  padding-left: 10px;
  padding-right: 10px;
}

// Hovering Start!
.startBtn:hover {
  margin-top: -1.5px;
  color: white;
}

// Focusing Start!
.startBtn:focus {
  outline: 0;
}

.credit {
  margin-left: 10px;
  margin-top: -380px;
}

// I might use this later, so I don't want to delete it. I wanted to make a "storybook" that would track the users choices.

/*
.storyBook {
  border: 3px;
  border-radius: $shapeRounded;
  border-style: solid;
  border-color: lighten($colTitle, 30%);
  margin-left: 900px;
  margin-top: -350px;
  height: 350px;
  width: 400px;
  padding-left: 20px;
}

.storyBook p {
  color: lighten($colTitle, 40%);
  font-size: $sizeFont;
}

.storyBookTitle {
  color: lighten($colTitle, 40%);
  text-align: center;
}
*/

@keyframes particleAnimation {
  from {
    left: -100px;
  }

  to {
    left: calc(100% + 100px);
  }
}

.p {
  position: fixed;
  left: 0;
  top: 50px;
  width: 1px;
  height: 1px;
  background-color: white;
  animation-name: particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.p::before {
  position: absolute;
  display: block;
  content: "";
  width: 100px;
  right: 1px;
  top: 0;
  height: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
}

.p-1 {
  animation-duration: 14s;
}

.p-2 {
  animation-duration: 10s;
  top: 20%;
}

.p-3 {
  animation-duration: 15s;
  top: 10%;
}
